In [17]:
#Importing csv to pandas
import pandas as pd
Airlines = pd.read_csv('Project1.csv')
Airlines

   Airline   Status  Los Angeles Phoenix  San Diego  San Francisco Seattle
0   ALASKA  on time          497     221        212            503   1,841
1   ALASKA  delayed           62      12         20            102     305
2  AM WEST  on time          694   4,840        383            320     201
3  AM WEST  delayed          117     415         65            129      61

In [19]:
#Delay times from Alaska and AM West

delay_times = (Airlines[Airlines['Status'] == 'delayed'].head())
delay_times

   Airline   Status  Los Angeles Phoenix  San Diego  San Francisco Seattle
1   ALASKA  delayed           62      12         20            102     305
3  AM WEST  delayed          117     415         65            129      61

In [16]:
#Table above show that AM West has overall more delays than Alaska

In [20]:
arrival_times = (Airlines[Airlines['Status'] == 'on time'].head())
arrival_times

   Airline   Status  Los Angeles Phoenix  San Diego  San Francisco Seattle
0   ALASKA  on time          497     221        212            503   1,841
2  AM WEST  on time          694   4,840        383            320     201

In [ ]:
#Table above shows AM West arrives ob time more often in Los Angeles, Phoenix, and San Diego. 
#However Alaska arrives on time more in San Francisco and Seattle.